.event {
  position: relative;
  border: 2px dashed black;
  padding: 80px;
  background-repeat: 4px;
  background-color: gold;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 8px;
  color: blue;
  font-style: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.25px;
}

.icon {
  display: block;
  margin-right: 8px;
  color: brown;
}

.chip {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
}

.free {
  background-color: green;
}
.paid {
  background-color: blue;
}

.vip {
  background-color: red;
}

.super {
  background-color: tomato;
}
